form input{
  color:blue;
}
form div input
{
   color: green;
}
@keyframes  animar
{
  from
  {
	background-color: yellow;
    width : 50px;
  }
  to
  {
	background-color: green;
    width : 400px;
  }
}
input[type="submit"]
{
  animation-name:animar;
  animation-duration:10;
  animation-iteration-count:infinite;
}
